extends ../layouts/dashboard.pug

block config
    - var bodyClass = 'sb-nav-fixed'
    - var pageTitle = 'Chairs & Committees'
    - var pageMainTitle = 'Chairs & Committees'
    - var pageSubTitle = "Meet the Leadership and Organizing Bodies of the Event"
    - var sidenavStyle = 'sb-sidenav-dark'
    - var Chairs = [{name: "Eric Moulines", img: "eric-moulines.png", role: "Chair", affiliation: "X, MBZUAI, Academy of Sciences"}, {name: "Mohammed El Rhabi", img: "mohammed-elrhabi.png", role: "General Director", affiliation: "EMSI group"}]
    - var HonoraryCommittee = [{name: "Nicolas Cheimanoff", img: "nicolas-c.png", role: "Director", affiliation: "EMINES"}, {name: "Mohammed El Rhabi", img: "mohammed-elrhabi.png", role: "General Director", affiliation: "EMSI group"}]
    - var ScientificCommittee = []
    - var OrganizingCommittee = [{name: "Mohamed Tabaa", img: "default.png", role: "Chair", affiliation: "Research Director EMSI"}, {name: "Saad El Khattab", img: "default.png", role: "Organizing Committee", affiliation: "Emines-UM6P"}, {name: "Khadija Ait-Haddouch", img: "default.png", role: "Organizing Committee", affiliation: "Emines-UM6P"}, {name: "Hermann Agossou", img: "default.png", role: "Organizing Committee", affiliation: "ECC/UH2C"}, {name: "Fatima", img: "default.png", role: "Organizing Committee", affiliation: "Emines-UM6P"}]

block content
    .container.d-flex.min-vh-100
        .col-0.col-lg-1.emp1 &nbsp;
        .col-12.col-lg-10.emp1.mt-3
            include includes/page-header.pug

            // Chairs Section
            .m-4.text-dark
                h2.text-light.text-center Chairs
                .row.team-section.hover-effect.d-flex.justify-content-center.mt-4
                    each person in Chairs
                        .col-md-4.mb-4
                            .card.shadow.border-0.feature-hover
                                img.card-img-top(
                                    style="height: 200px; object-fit: cover; object-position: top;", 
                                    src=`assets/team/${person.img || 'default.png'}`, 
                                    alt=person.name
                                )
                                .card-body
                                    h6.card-title= person.name
                                    p.card-subtitle.text-muted= person.role
                                    p.card-text= person.affiliation

            // Honorary Committee Section
            if HonoraryCommittee.lenght
                .m-4.text-dark
                    h2.text-light.text-center Honorary Committee
                    .row.team-section.hover-effect.d-flex.justify-content-center.mt-4
                        each person in HonoraryCommittee
                            .col-md-4.mb-4
                                .card.shadow.border-0.feature-hover
                                    img.card-img-top(
                                        style="height: 200px; object-fit: cover; object-position: top;", 
                                        src=`assets/team/${person.img || 'default.png'}`, 
                                        alt=person.name
                                    )
                                    .card-body
                                        h6.card-title= person.name
                                        p.card-subtitle.text-muted= person.role
                                        if person.affiliation
                                            p.card-text= person.affiliation

            // Scientific Committee Section
            if ScientificCommittee.lenght
                .m-4.text-dark
                    h2.text-light.text-center Scientific Committee
                    .row.team-section.hover-effect.d-flex.justify-content-center.mt-4
                        each person in ScientificCommittee
                            .col-md-4.mb-4
                                .card.shadow.border-0.feature-hover-scale
                                    img.card-img-top.rounded-circle(
                                        style="height: min(150px, 80%); width: auto; object-fit: cover; margin: 0 auto;",
                                        src=`assets/team/${person.img || 'default.png'}`, 
                                        alt=person.name
                                    )
                                    .card-body.text-center
                                        h6.card-title= person.name
                                        p.card-subtitle.text-muted= person.role
                                        p.card-text= person.affiliation

            // Organizing Committee Section
            .m-4.text-dark
                h2.text-light.text-center Organizing Committee
                .row.team-section.hover-effect.d-flex.justify-content-center.mt-4
                    each person in OrganizingCommittee
                        .col-md-3.mb-4
                            .card.shadow.border-0.feature-hover-scale
                                img.card-img-top.rounded-circle(
                                    style="height: min(150px, 80%); width: auto; object-fit: cover; margin: 0 auto;",
                                    src=`assets/team/${person.img || 'default.png'}`, 
                                    alt=person.name
                                )
                                .card-body.text-center
                                    h6.card-title= person.name
                                    p.card-subtitle.text-muted= person.role
                                    p.card-text= person.affiliation

            //- // Organizers Section
            //- .m-4.text-dark
            //-     h2.text-light Organizing and Scientific Committee
            //-     .row.team-section.hover-effect.d-flex.justify-content-center.mt-4
            //-         each organizer in OrganisersList
            //-             .col-md-4.mb-4
            //-                 .card.shadow.border-0.feature-hover
            //-                     if organizer.img
            //-                         img.card-img-top(style="height: 200px; object-position: top", src=`assets/team/${organizer.img}`, alt=organizer.name)
            //-                     else
            //-                         img.card-img-top(style="height: 200px; object-fit: cover;object-position: top", src="assets/team/default.png", alt=organizer.name)
            //-                     .card-body
            //-                         h6.card-title= organizer.name
            //-                         //- p.card-subtitle.mb-2.text-muted= organizer.role
            //-                         p.card-text= organizer.text

            //- // Additional Team Members Section
            //- .m-4.text-dark
            //-     h2.text-light And the Team Behind the Scenes
            //-     .row.team-section.team2-section.hover-effect.d-flex.justify-content-center.mt-4
            //-         each teamMember in TeamMembersList
            //-             .col-md-3.mb-4
            //-                 .card.shadow.border-0.feature-hover-scale
            //-                     if teamMember.img
            //-                         img.card-img-top.rounded-circle(
            //-                             style="height: min(150px,80%); width: auto; object-fit: cover; margin: 0 auto;", 
            //-                             src=`assets/team/${teamMember.img}`, 
            //-                             alt=teamMember.name
            //-                         )
            //-                     //- else
            //-                     //-     img.card-img-top(style="height: 200px; object-fit: cover;object-position: top", src="assets/team/default.png", alt=organizer.name)
            //-                     .card-body.text-center
            //-                         h6.card-title= teamMember.name
            //-                         //- p.card-subtitle.mb-2.text-muted= teamMember.role
            //-                         //- p.card-text= teamMember.text
            
            // Call to Action Buttons Section
            .row.justify-content-center.mt-4
                .col-md-10.text-center
                    a.btn.btn-lg.btn-primary(target="_blank", href="#") Register Now
                    a.btn.btn-lg.btn-outline-secondary.ml-3(target="_blank", href="./contact.html") Contact Us
            
        .col-0.col-lg-1.emp1 &nbsp;
