extends ../layouts/dashboard.pug

block config
    - var bodyClass = 'sb-nav-fixed'
    - var pageTitle = 'Organizers and Team'
    - var pageMainTitle = 'Organizers and Team'
    - var pageSubTitle = "Meet the Organizing Committee and the Team Behind the Scenes"
    - var sidenavStyle = 'sb-sidenav-dark'
    - var OrganisersList = [{name: "Prof. Mohammed ElRhabi", img: "mohammed-elrhabi.png", role: "Event Coordinator", text: "Chair"},{name: "Prof. Eric Moulines", img: "eric-moulines.png", role: "Professor of AI", text: "Ecole Polytechnique and an Adjunct Professor at MBZUAI"},{name: "Prof. Nicolas Cheimanoff", img: "nicolas-c.png", role: "Event Director", text: " Director of EMINES-UM6P"}]
    - var TeamMembersList = [{ name: 'Aymane Aouzal', img: "aymane-aouzal.jpg", role: 'Marketing and Outreach', text: 'John is responsible for designing and maintaining the event website, ensuring a smooth user experience for all participants.'}, { name: 'Aymane Chatit', img: "aymane-chatit.jpeg", role: 'Marketing and Outreach', text: 'Jane manages participant registrations and ensures clear communication between the event team and attendees.'}, { name: 'Fatima Zahra Assmina', img: 'fatima-zahra.png', role: 'Event Coordinator and Social Media', text: 'Alex oversees all logistics, including venue setup and event materials, to ensure everything runs smoothly during the event.'}, { name: 'Hafsa Rafik', img: 'hafsa-rafik.png', role: 'Graphic Design and Prospection', text: 'Emily leads the marketing efforts for the event, managing social media and outreach campaigns to promote the event to a wider audience.'}, { name: 'Hamza Sbiti', img: 'hamza-sbiti.jpg', role: 'Marketing and Outreach', text: 'Emily leads the marketing efforts for the event, managing social media and outreach campaigns to promote the event to a wider audience.'}, { name: 'Hermann Agossou', img: 'hermann-agossou.jpg', role: 'Website Developer', text: 'Emily leads the marketing efforts for the event, managing social media and outreach campaigns to promote the event to a wider audience.'}, { name: 'Ismail Fathi', img: "ismail-fathi.png", role: 'Marketing and Outreach', text: 'Emily leads the marketing efforts for the event, managing social media and outreach campaigns to promote the event to a wider audience.'}, { name: 'Mouad Khaznaoui', img: "mouad-k.png", role: 'Marketing and Outreach', text: 'Emily leads the marketing efforts for the event, managing social media and outreach campaigns to promote the event to a wider audience.'}]

block content
    .container.d-flex.min-vh-100
        .col-0.col-lg-1.emp1 &nbsp;
        .col-12.col-lg-10.emp1.mt-3
            include includes/page-header.pug

            // Organizers Section
            .m-4.text-dark
                h2.text-light Organizing and Scientific Committee
                .row.team-section.hover-effect.d-flex.justify-content-center.mt-4
                    each organizer in OrganisersList
                        .col-md-4.mb-4
                            .card.shadow.border-0.feature-hover
                                if organizer.img
                                    img.card-img-top(style="height: 200px; object-position: top", src=`assets/team/${organizer.img}`, alt=organizer.name)
                                else
                                    img.card-img-top(style="height: 200px; object-fit: cover;object-position: top", src="assets/team/default.png", alt=organizer.name)
                                .card-body
                                    h6.card-title= organizer.name
                                    //- p.card-subtitle.mb-2.text-muted= organizer.role
                                    p.card-text= organizer.text

            // Additional Team Members Section
            .m-4.text-dark
                h2.text-light And the Team Behind the Scenes
                .row.team-section.team2-section.hover-effect.d-flex.justify-content-center.mt-4
                    each teamMember in TeamMembersList
                        .col-md-3.mb-4
                            .card.shadow.border-0.feature-hover-scale
                                if teamMember.img
                                    img.card-img-top.rounded-circle(
                                        style="height: min(150px,80%); width: auto; object-fit: cover; margin: 0 auto;", 
                                        src=`assets/team/${teamMember.img}`, 
                                        alt=teamMember.name
                                    )
                                //- else
                                //-     img.card-img-top(style="height: 200px; object-fit: cover;object-position: top", src="assets/team/default.png", alt=organizer.name)
                                .card-body.text-center
                                    h6.card-title= teamMember.name
                                    //- p.card-subtitle.mb-2.text-muted= teamMember.role
                                    //- p.card-text= teamMember.text
            
            // Call to Action Buttons Section
            .row.justify-content-center.mt-4
                .col-md-10.text-center
                    a.btn.btn-lg.btn-primary(target="_blank", href="./registration.html") Register Now
                    a.btn.btn-lg.btn-outline-secondary.ml-3(target="_blank", href="./contact.html") Contact Us
            
        .col-0.col-lg-1.emp1 &nbsp;
