extends ../layouts/dashboard.pug

block config
    - var bodyClass = 'sb-nav-fixed'
    - var pageTitle = 'Partners'
    - var pageMainTitle = 'Our Partners'
    - var pageSubTitle = 'Sponsors and Supporters, key contributors to this event'
    - var sidenavStyle = 'sb-sidenav-dark'
    - var SponsorsList = [{ name: 'EMINES', img: 'emines.png', type: 'Title Sponsor', description: 'Industrial management-focused engineering school in Morocco.' }, { name: 'OCP', img: 'ocp.png', type: 'Gold Sponsor', description: 'Global leader in phosphates and AI applications in agriculture.' }, { name: 'École Polytechnique', img: 'polytechnique-rmbg.png', type: 'Academic Partner', description: 'Prestigious French institution for science and engineering.' }, { name: 'SIANA', img: 'siana.png', type: 'Bronze Sponsor', description: 'Innovators in high-speed rail and transportation AI solutions.' },]
    - var CollaboratorsList = [{ name: 'UM6P', img: 'um6p.png', type: 'Silver Sponsor', description: 'University at the forefront of AI education and research.' },{ name: 'Hub France IA', img: 'hubfrance.png', type: 'Research Partner', description: 'Promoting AI research and its impact on society', url:'https://www.hub-franceia.fr/' }, { name: 'Meta', img: 'meta.svg', type: 'Title Sponsor', description: 'Global leader in AI and technology innovation.' }, { name: 'Orange EMEA', img: 'orange.png', type: 'Industry Partner', description: 'Driving AI innovation in telecommunications', url:'https://www.orange.com/fr/orange-afrique-et-moyen-orient' }, { name: 'Norma', img: 'norma-horizontal-noir.png', type: 'Bronze Sponsor', description: 'Specializing in providing expertise in data and AI solutions, driving innovation and efficiency in various industries', url:'https://www.norma.dev/' }, { name: '', img: 'berkeley.svg', type: 'Collaborator', description: 'California University reknown for its academic excellence, innovative research, and strong engineering, CS, and AI programs', url:'https://www.berkeley.edu/' }, { name: 'EMSI', img: 'emsi.png', type: 'Academic Partner', description: 'Morocco’s School of Engineering Sciences, fostering innovation and engineering excellence', url: 'https://emsi.ma/' }, { name: 'LightOn', img: 'lighton.svg', type: 'Collaborator', description: 'French company specializing in generative AI and optical technology for high-speed data analysis', url:'https://www.lighton.ai/fr/home', bgcolor:'rgb(45, 64, 78)' }, { name: 'ONCF', img: 'oncf.png', type: 'Bronze Sponsor', description: 'Leading railway operator in Morocco, integrating AI for efficient operations', url:'https://www.oncf.ma/en/' }, { name: 'MBZUAI', img: 'mbzuai.svg', type: 'Gold Sponsor', description: 'Pioneering AI research and education in the United Arab Emirates', url:'https://mbzuai.ac.ae/', bgcolor:'#828282' }, { name: 'Inria', img: 'inria.png', type: 'Silver Sponsor', description: 'French national research institute for digital science and technology.' },{name: 'INWI', img: 'inwi.jpeg', type: 'Industry Partner', description: 'A Moroccan telecom leader driving digital transformation and AI connectivity.', url: 'https://www.inwi.ma/'},{name: 'Founder Institute',img: 'founder-institute.png',type: 'Accelerator Partner',description: 'World\'s largest pre-seed startup accelerator', url: 'https://fi.co'}, { name: 'ONE.AI', img: 'oecd.svg', type: 'Research Collaborator', description: 'Global collaboration on AI policies and research', url:'https://oecd.ai/en/', bgcolor:'#142f4e' },{"name": "Ai Movement", "img": "ai-movement.png", img: 'ai-movement.png', type: "Research Center", "description": "The Moroccan AI Center promotes training, research, and ethical AI awareness.", url:"https://aim.um6p.ma/en/home/"}] //, { name: 'Carrefour', img: 'carrefour.jpg', type: 'Bronze Sponsor', description: 'Promoting healthy living and community engagement through various initiatives.' }]; //  name: 'Amundi', img: 'amundi.png', type: 'Financial Partner', description: 'AI for investment management and financial services', url:'https://about.amundi.com/' }, {

block content
    .container.d-flex.min-vh-100
        .col-0.col-lg-1.emp1 &nbsp;
        .col-12.col-lg-10.emp1.mt-3
            include includes/page-header.pug

            // Partners Section
            .m-4.partners-section.hover-effect.text-dark
                //- h2.text-light.text-center Our Valued Partners

                .container
                    // Sponsors Section
                    .row.justify-content-center.mt-4
                        .col-12.text-center
                            h3.text-light.mb-4 Sponsors
                    .row.justify-content-center
                        each sponsor in SponsorsList
                            .col-md-4.col-lg-3.text-center.mb-4
                                .card.feature-hover
                                    .card-body
                                        if sponsor.name
                                            img.card-img-top(style="height: 100px; object-position: center", src=`assets/firms/${sponsor.img}`, alt=sponsor.name, class="img-fluid mb-3")
                                        h4.text-dark.bold= sponsor.name
                                        //- p.text-muted= sponsor.type
                                        p.text-muted= sponsor.description
                                        //- if sponsor.url
                                        //-     a.btn.btn-primary.btn-sm(href=sponsor.url, target="_blank") Learn More
                                        
                    // Collaborators Section
                    .row.justify-content-center.mt-5
                        .col-12.text-center
                            h3.text-light.mb-4 Supporters
                    .row.justify-content-center
                        each collaborator in CollaboratorsList
                            .col-md-4.col-lg-3.text-center.mb-4
                                .card.feature-hover
                                    .card-body
                                        img.card-img-top(style=`height: 60px; object-position: center; background-color:${collaborator.bgcolor}`, src=`assets/firms/${collaborator.img}`, alt=collaborator.name, class="img-fluid mb-3")
                                        h4.text-dark.bold= collaborator.name
                                        //- p.text-muted= collaborator.type
                                        p.text-muted= collaborator.description
                                        //- if collaborator.url
                                        //-     a.btn.btn-primary.btn-sm(href=collaborator.url, target="_blank") Learn More
                                        
                    //- // Optional: Carousel or grid for logos at the bottom
                    //- .row.justify-content-center.mt-5
                    //-     .col-12.text-center
                    //-         h3.text-primary.mb-4 More Partners
                    //- .row.justify-content-center
                    //-     each partner in SponsorsList.concat(CollaboratorsList)
                    //-         .col-md-3.col-lg-2.text-center.mb-4
                    //-             .card.feature-hover
                    //-                 .card-body
                    //-                     img(src=`assets/firms/${partner.img}`, alt=partner.name, class="img-fluid mb-3")
                    //-                     if partner.type
                    //-                         p.text-muted= partner.type
                    //-                     if partner.url
                    //-                         a.btn.btn-outline-secondary.btn-sm(href=partner.url, target="_blank") Visit Website

                //- // Call to Action Section for Future Collaboration
                //- .row.justify-content-center.mt-5
                //-     .col-12.text-center
                //-         h3.text-primary.mb-4 Interested in Collaborating?
                //-         p.text-dark.mb-4 If you're interested in becoming a sponsor or collaborator, reach out to us for partnership opportunities!
                //-         a.btn.btn-lg.btn-primary(target="_blank", href="contact.html") Contact Us
