extends ../layouts/dashboard.pug

block config
    - var bodyClass = 'sb-nav-fixed'
    - var pageTitle = 'Speaker Speakers'
    - var pageMainTitle = 'Speaker Speakers'
    - var pageSubTitle = "Meet Our Distinguished Guests"
    - var sidenavStyle = 'sb-sidenav-dark'
    - var SpeakersList = [{ name: "Joelle Barral", img: "default.png", title: "Speaker", text: "DeepMind", linkedin: "https://www.linkedin.com/in/joellebarral/?originalSubdomain=fr", confirmed: true },  { name: "Nikos Paragios", img: "default.png", title: "Speaker", text: "CentraleSupélec, TheraPanacea", linkedin: "https://www.linkedin.com/in/prof-nikos-paragios-20777869/", confirmed: true },  { name: "Eric Xing", img: "default.png", title: "Speaker", text: "MBZUAI", linkedin: "https://www.linkedin.com/in/eric-xing-b34a0b/", confirmed: true },  { name: "David Atienza", img: "default.png", title: "Speaker (tentative)", text: "EPFL", linkedin: "https://www.linkedin.com/in/david-atienza-7bb0852/", confirmed: false },  { name: "Martin Takac", img: "default.png", title: "Speaker", text: "MBZUAI", linkedin: null, confirmed: true },  { name: "Elsa Angelini", img: "default.png", title: "Speaker", text: "Telecom Paris", linkedin: null, confirmed: true }]

block content
    .container.d-flex.min-vh-100
        .col-0.col-lg-1.emp1 &nbsp;
        .col-12.col-lg-10.emp1.mt-3
            include includes/page-header.pug

            // Speakers Section
            .m-4.text-dark
                .row.speaker-section.hover-effect.d-flex.justify-content-center.mt-4
                    each speaker in SpeakersList
                        .col-md-3.mb-4
                            .card.shadow.border-0.feature-hover-scale.p-2
                                if speaker.img
                                    img.card-img-top(
                                        style="height: 200px; object-fit: cover; object-position: top", 
                                        src=`assets/speakers/${speaker.img}`, 
                                        alt=speaker.name
                                    )
                                else
                                    img.card-img-top(
                                        style="height: 200px; object-fit: cover; object-position: top", 
                                        src="assets/speakers/default.png", 
                                        alt=speaker.name
                                    )
                                .card-body.text-center
                                    h5.card-title.mb-1
                                        = speaker.name
                                        if speaker.confirmed === false
                                            span.small.text-danger.ml-1 (tentative)
                                    if speaker.title
                                        p.card-subtitle.mb-1.text-muted= speaker.title
                                    if speaker.text
                                        p.card-text.mb-1= speaker.text
                                    if speaker.linkedin
                                        a(href=speaker.linkedin, target="_blank")
                                            i.fab.fa-linkedin.mr-1
                                            | LinkedIn

        .col-0.col-lg-1.emp1 &nbsp;
