extends ../layouts/dashboard.pug

block config
    - var bodyClass = 'sb-nav-fixed'
    - var pageTitle = 'Speakers and Panelists'
    - var pageMainTitle = 'Speakers and Panelists'
    - var pageSubTitle = "Meet the Featured Speakers and Panelists"
    - var sidenavStyle = 'sb-sidenav-dark'
    - var SpeakersList = [{name: "Yann LeCun", img: "yann-lecun.jpg", title: "Speaker and Panelist", text: "Professor at Courant Institute NY and VP & Chief AI Scientist at Meta (ex Facebook)"},{name: "Michael I. Jordan", img: "michael-jordan.jpeg", title: "Speaker and Panelist", text: "Professor at University of California, Berkeley and MBZUAI, Researcher at Inria", url:"https://people.eecs.berkeley.edu/~jordan/"},{name: "Benoit Bergeret", img: "benoit-bergeret.png", title: "Speaker and Panel Moderator", text: "Co-founder, Hub France IA, OECD Network of Experts (ONE.AI)"},{name: "Eric Moulines", img: "eric-moulines.png", title: "Speaker and Panel Moderator", text: "Professor, Ecole Polytechnique and an Adjunct Professor at MBZUAI"}, {name: "Laurent Daudet", img: "laurent-daudet.jpg", title: "Speaker and Panelist", text: " Co-CEO and Co-Founder at LightOn (Generative AI for Businesses)"}, {name: "Charles-Albert Lehalle", img: "charles-albert-lehalle.jpg", title: "Speaker", text: "Professor, École Polytechnique, AI in Finance Expert"}, {name: "Btissam El Khamlichi", img: "btissam-el-khamlichi.jpg", title: "Speaker and Panelist", text: "Assistant Professor at AI Movement, Next Generation AI Expert"}, {name: "Luciano Borges", img: "luciano-borges.png", title: "Speaker", text: "Chief Executive Officer and Director of SIANA (JV ONCF & SNCF)"}, {name: "Jawad Alaoui", img: "jawad-alaoui.jpg", title: "Panelist", text: "Co-founder and CTO of NORMA (Data Science and ML Solutions)"}, {name: "Jean-François Thomas", img: "jean-francois-thomas.png", title: "Panelist", text: "Chief Strategy Officer at Orange Middle East and Africa"}, {name: " Mohamed Sedki", img: "mohamed-sedki.jpg", title: "Panelist", text: "Head of the Innovation and Digital Material Platform Department at ONCF"}] // , {name: "Emmanuel Grenier", img: "emmanuel-grenier.jpeg", title: "Speaker and Panelist", text: "Executive Director, E-Commerce & Digital Transformation, Carrefour", pending:true}

block content
    .container.d-flex.min-vh-100
        .col-0.col-lg-1.emp1 &nbsp;
        .col-12.col-lg-10.emp1.mt-3
            include includes/page-header.pug
            
            // Speakers Section
            .m-4.text-dark
                //- h2.text-light Featured Speakers
                .row.speaker-section.hover-effect.d-flex.justify-content-center.mt-4
                    each speaker in SpeakersList
                        .col-md-3.mb-4
                            .card.shadow.border-0.feature-hover.px-1.py-1
                                if speaker.img && speaker.img !== 'default.png'
                                    // If image is defined and not 'default.png', show the image without background color
                                    img.card-img-top(style="height: 200px; object-position: top;", src=`assets/speakers/${speaker.img}`, alt=speaker.name)
                                else
                                    // If no image or image is 'default.png', apply background color
                                    img.card-img-top.img-default(style="height: 200px; object-position: top", src=`assets/speakers/default.png`, alt=speaker.name)
                                .card-body
                                    h5.card-title
                                        = speaker.name
                                        if speaker.pending
                                            span.smaller(style="color: #FF6347") (To be confirmed)
                                    p.card-subtitle.mb-2.text-muted= speaker.title
                                    p.card-text= speaker.text


            //- // Additional Panelists Section (if you have panelists)
            //- .m-4.text-dark
            //-     h2.text-light Additional Panelists
            //-     .row.d-flex.justify-content-center.mt-4
            //-         each panelist in PanelistsList
            //-             .col-md-3.mb-4
            //-                 .card.shadow.border-0
            //-                     img.card-img-top(style="height: 200px; object-fit: cover;object-position: top", src=`assets/speakers/${panelist.img}`, alt=panelist.name)
            //-                     .card-body
            //-                         h5.card-title= panelist.name
            //-                         p.card-subtitle.mb-2.text-muted= panelist.title
            //-                         p.card-text= panelist.text

        .col-0.col-lg-1.emp1 &nbsp;
